---
http_interactions:
- request:
    method: get
    uri: https://private-bfc6a-widergytrainingnorthutilityapi.apiary-mock.com/notas?autor=Rodrigo%20Lugo%20Melgar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 65ef9bc007006d008be479ac
      Akamai-Grn:
      - 0.c4f71202.1710201791.3138bc2d
    body:
      encoding: UTF-8
      string: |-
        {
            "notas": [
                {
                    "id": 1,
                    "titulo": "Opinion personal",
                    "tipo": "opinion",
                    "fecha_creacion": "2022-05-20T14:20:55-03:00",
                    "autor": {
                        "datos_de_contacto": {
                            "email": "albertogomez@north.com",
                            "telefono": "11-2233-4455"
                        },
                        "datos_personales": {
                            "nro_documento": "12345678",
                            "nombre": "Alberto",
                            "apellido": "Gomez"
                        }
                    },
                    "libro":{
                        "id": 1,
                        "titulo": "Harry Potter y la piedra filosofal",
                        "autor": "J.K.Rowling",
                        "genero": "fantasia",
                        "imagen_url": "https://some_url.com",
                        "editorial": "Nice Books",
                        "año": "1997"
                    }

                },
                {
                    "id": 2,
                    "titulo": "Reseña",
                    "tipo": "resenia",
                    "fecha_creacion": "2022-05-20T14:20:55-03:00",
                    "autor": {
                        "datos_de_contacto": {
                            "email": "helenamartinez@north.com",
                            "telefono": "11-2233-4455"
              [...]
